@import "tailwindcss";

@theme {
    --color-primary: #0056b3;
    --color-secondary: #0F172A;
    --color-surface: #FFFFFF;
    --color-background: #F8F9FA;
    --color-text-main: #333333;
}

@layer base {
    body {
        @apply bg-[var(--color-background)] text-[var(--color-text-main)] font-sans antialiased overflow-hidden;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    /* lighter, subtle */
    border-radius: 3px;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}